@media screen and (max-width:372px) {
    .PicBox {
        display: none;
    }
    fadeleft {
        display: none;
    }
    faderight {
        display: none;
    }
    .parallax {
        display: none;
    }
    .parallax1 {
        display: none;
    }
    .parallaxEvent {
        display: none;
    }
    .parallaxLogo {
        display: none;
    }
    .bottomwords {
        display: none;
    }
    .homefooter {
        display: none;
    }
    .BlackBox {
        display: none;
    }
    .GrayS {
        display: none;
    }
    a {
        text-decoration: none;
    }
    .Buttoncall {
        float: none;
        width: 100%;
        display: block;
    }
    .GreenBox {
        display: none;
    }
    .greenwords {
        display: none;
    }
    .greenwords2 {
        display: none;
    }
    .phonelongo {
        height: 40vh;
        display: block;
    }
    .PhoneButtones {
        top: 40vw;
        font-size: 10vw;
        color: white;
        text-align: center;
        height: 20vh;
        width: 100vw;
        margin-top: 0vh;
        background-color: green;
        display: block;
    }
    .PhoneButtones2 {
        top:40vw;
        font-size: 10vw;
        color: black;
        text-align: center;
        height: 20vh;
        width: 100vw;
        background-color: chartreuse;
        display: block;
    }
}
@media screen and (max-height:522px) {
    .PicBox {
        display: none;
    }
    fadeleft {
        display: none;
    }
    faderight {
        display: none;
    }
    .parallax {
        display: none;
    }
    .parallax1 {
        display: none;
    }
    .parallaxEvent {
        display: none;
    }
    .parallaxLogo {
        display: none;
    }
    .bottomwords {
        display: none;
    }
    .homefooter {
        display: none;
    }
    .BlackBox {
        display: none;
    }
    .GrayS {
        display: none;
    }
    a {
        text-decoration: none;
    }
    .Buttoncall {
        float: none;
        width: 100%;
        display: block;
    }
    .GreenBox {
        display: none;
    }
    .greenwords {
        display: none;
    }
    .greenwords2 {
        display: none;
    }
    .phonelongo {
        height: 40vh;
        display: block;
    }
    .PhoneButtones {
        top: 40vw;
        font-size: 10vw;
        color: white;
        text-align: center;
        height: 20vh;
        width: 100vw;
        margin-top: 0vh;
        background-color: green;
        display: block;
    }
    .PhoneButtones2 {
        top: 40vw;
        font-size: 10vw;
        color: black;
        text-align: center;
        height: 20vh;
        width: 100vw;
        background-color: chartreuse;
        display: block;
    }
    
}


