@media screen and (max-width:500px){
PhoneShow{
            font-size:100%; 
            background-color:green;
        }
.PicBox {
    display:none;
    }
fadeleft {
    display:none;

    }
faderight {
    display:none;
    }
.parallax{
display:none;
}
.parallax1{
    display:none;
}
.parallaxEvent{
    display:none;
}
.parallaxLogo{
    display:none;
}
.bottomwords{
    display:none;
}
.homefooter{
    display:none;
}
.BlackBox{
    display:none;
}
.GrayS{
    display:none;
}
a{
        text-decoration:none;

}
.Buttoncall{
        float:none;
        width:100%;
        display:block;
    }
.GreenBox{
    display:none;
}
.greenwords{
            display:none;

        }
.greenwords2{
            display:none;

}
.greenwords1{
           height:30vh;
display:block;
}
.PhoneButtones{
            font-size:10vh;
            color:white;
            text-align:center;
            height:auto;
            width:100vw;
            margin-top:5vh;
    background-color:green;
    display:block;

}
.PhoneButtones2{
            font-size:10vh;
            color:black;
            text-align:center;
            height:auto;
            width:100vw;
    background-color: chartreuse;
    display:block;

}
}
@media screen and (max-height:400px) {
   .PicBox {
    display:none;
    }
fadeleft {
    display:none;

    }
faderight {
    display:none;
    }
.parallax{
display:none;
}
.parallax1{
    display:none;
}
.parallaxEvent{
    display:none;
}
.parallaxLogo{
    display:none;
}
.bottomwords{
    display:none;
}
.homefooter{
    display:none;
}
.BlackBox{
    display:none;
}
.GrayS{
    display:none;
}
.GreenBox{
    display:none;
}

     .Buttoncall{
        float:right;
        width:49%;
        display:block;
    }
    .PhoneNoShow{
        display:none;
    }
    .PhoneButtones{
            font-size:20vh;
            color:white;
            text-align:center;
            width:99%;
            height:auto;
    background-color:green;
    display:block;

}
.PhoneButtones2{
                width:99%;
            font-size:20vh;
            color:black;
            text-align:center;
            height:auto;
    background-color: chartreuse;
    display:block;

}
.greenwords{
        display:none;
        }
.greenwords1{
height:30vh;    
float:left;
width:50%;   
display:block;

}
.greenwords2{
height:30vh; 
width:50%;   
float:left;
color:green;
font-size:40px;
display:block;
margin-top:2vw;

}

}
@media screen and (max-height:560px) {
fade {
        display: none;
    }
}
@media screen and (max-width:770px) {


}


